<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-bg-img" padding>

  <ion-card>
    <img src="../../../assets/img/frutas.png" routerLink="/puestos">
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/lacteos.png" >
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/carnes.png" >
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/pescado.png" >
  </ion-card>

  <ion-card>
    <img src="../../../assets/img/limpieza.png" >
  </ion-card>
  
</ion-content>
