tab-categoria {
    .card-bg-img{
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-titulo{
            position: absolute;
            top:36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        .card-subtitulo{
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
        }
    }
}